# 라이브러리 및 데이터

In [25]:
import pandas as pd # 데이터 분석
import numpy as np # 행렬 연산
import random # 시드 제어
from pandas import Series, DataFrame
import sys
import time
import datetime
import re

%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt # 시각화

import sklearn
from sklearn.model_selection import train_test_split
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
import tensorflow as tf

# 시드
import os
seed = 12345
os.environ['PYTHONHASHSEED'] = str(seed)
np.random.seed(seed)
random.seed(seed)
tf.random.set_seed(seed)

In [4]:
final_ans = pd.read_csv('data/dnn_train.csv', sep=',')
final_ans_test = pd.read_csv('data/dnn_test.csv', sep=',')

final = pd.concat([final_ans, final_ans_test])
final = final.reset_index()
del final['index']
final

,date,avg_temp,min_temp,max_temp,rain_d,wind_d,wet_d,snow_d,date_2016-07-20,date_2016-07-21,...,power_d9,power_d8,power_d7,power_d6,power_d5,power_d4,power_d3,power_d2,power_d1,power
0,2017-09-12,0.815385,0.829978,0.825708,0.000000,0.503795,0.503867,0.0,0,0,...,0.138917,0.177417,0.181292,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385
1,2017-09-13,0.789011,0.785235,0.801743,0.000000,0.410816,0.362284,0.0,0,0,...,0.177417,0.181292,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750
2,2017-09-14,0.806593,0.758389,0.832244,0.000000,0.396584,0.339679,0.0,0,0,...,0.181292,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750,0.094250
3,2017-09-15,0.826374,0.816555,0.838780,0.000000,0.685958,0.297442,0.0,0,0,...,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750,0.094250,0.089750
4,2017-09-16,0.808791,0.767338,0.832244,0.000000,0.750474,0.324807,0.0,0,0,...,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750,0.094250,0.089750,0.097958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44493,2018-06-26,0.789011,0.816555,0.782135,0.235772,0.590133,0.882213,0.0,0,0,...,0.313599,0.359879,0.393125,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125
44494,2018-06-27,0.771429,0.796421,0.760349,0.008130,0.308349,0.931588,0.0,0,0,...,0.359879,0.393125,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042
44495,2018-06-28,0.810989,0.829978,0.806100,0.097561,0.232448,0.930993,0.0,0,0,...,0.393125,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042,0.365125
44496,2018-06-29,0.810989,0.829978,0.825708,0.016260,0.148008,0.882808,0.0,0,0,...,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042,0.365125,0.269702
44497,2018-06-30,0.848352,0.818792,0.880174,0.000000,0.037951,0.807258,0.0,0,0,...,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042,0.365125,0.269702,0.216969

In [5]:
final = pd.concat([final_ans, final_ans_test])
final = final.reset_index()
del final['index']

,date,avg_temp,min_temp,max_temp,rain_d,wind_d,wet_d,snow_d,date_2016-07-20,date_2016-07-21,...,power_d9,power_d8,power_d7,power_d6,power_d5,power_d4,power_d3,power_d2,power_d1,power
0,2017-09-12,0.815385,0.829978,0.825708,0.000000,0.503795,0.503867,0.0,0,0,...,0.138917,0.177417,0.181292,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385
1,2017-09-13,0.789011,0.785235,0.801743,0.000000,0.410816,0.362284,0.0,0,0,...,0.177417,0.181292,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750
2,2017-09-14,0.806593,0.758389,0.832244,0.000000,0.396584,0.339679,0.0,0,0,...,0.181292,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750,0.094250
3,2017-09-15,0.826374,0.816555,0.838780,0.000000,0.685958,0.297442,0.0,0,0,...,0.170667,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750,0.094250,0.089750
4,2017-09-16,0.808791,0.767338,0.832244,0.000000,0.750474,0.324807,0.0,0,0,...,0.166458,0.146000,0.250613,0.192000,0.177125,0.180385,0.101750,0.094250,0.089750,0.097958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104084,2018-06-26,0.789011,0.816555,0.782135,0.235772,0.590133,0.882213,0.0,0,0,...,0.313599,0.359879,0.393125,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125
104085,2018-06-27,0.771429,0.796421,0.760349,0.008130,0.308349,0.931588,0.0,0,0,...,0.359879,0.393125,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042
104086,2018-06-28,0.810989,0.829978,0.806100,0.097561,0.232448,0.930993,0.0,0,0,...,0.393125,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042,0.365125
104087,2018-06-29,0.810989,0.829978,0.825708,0.016260,0.148008,0.882808,0.0,0,0,...,0.342542,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042,0.365125,0.269702
104088,2018-06-30,0.848352,0.818792,0.880174,0.000000,0.037951,0.807258,0.0,0,0,...,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042,0.365125,0.269702,0.216969

In [6]:
final = final.sort_values(by=['date'], axis=0)
final

,date,avg_temp,min_temp,max_temp,rain_d,wind_d,wet_d,snow_d,date_2016-07-20,date_2016-07-21,...,power_d9,power_d8,power_d7,power_d6,power_d5,power_d4,power_d3,power_d2,power_d1,power
11088,2017-09-02,0.824176,0.807606,0.845316,0.0,0.253321,0.569304,0.0,0,0,...,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023
49922,2017-09-02,0.824176,0.807606,0.845316,0.0,0.253321,0.569304,0.0,0,0,...,0.299143,0.299143,0.299143,0.299143,0.299143,0.299143,0.299143,0.299143,0.299143,0.299143
17826,2017-09-02,0.824176,0.807606,0.845316,0.0,0.253321,0.569304,0.0,0,0,...,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464
11089,2017-09-03,0.837363,0.834452,0.847495,0.0,0.220114,0.580012,0.0,0,0,...,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023,0.321023
17827,2017-09-03,0.837363,0.834452,0.847495,0.0,0.220114,0.580012,0.0,0,0,...,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464,0.371464
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34436,2018-06-30,0.848352,0.818792,0.880174,0.0,0.037951,0.807258,0.0,0,0,...,0.296875,0.294637,0.289542,0.397958,0.333792,0.304917,0.321375,0.308875,0.259677,0.295968
41721,2018-06-30,0.848352,0.818792,0.880174,0.0,0.037951,0.807258,0.0,0,0,...,0.162458,0.173523,0.162917,0.153375,0.172583,0.180875,0.176905,0.167685,0.199090,0.177899
6412,2018-06-30,0.848352,0.818792,0.880174,0.0,0.037951,0.807258,0.0,0,0,...,0.349792,0.405037,0.384625,0.416507,0.352643,0.364470,0.408292,0.430042,0.368606,0.423175
11389,2018-06-30,0.848352,0.818792,0.880174,0.0,0.037951,0.807258,0.0,0,0,...,0.258244,0.305542,0.275875,0.313518,0.253958,0.268667,0.276958,0.270208,0.281686,0.292825
104088,2018-06-30,0.848352,0.818792,0.880174,0.0,0.037951,0.807258,0.0,0,0,...,0.340542,0.339744,0.482649,0.428500,0.381667,0.370125,0.307042,0.365125,0.269702,0.216969

In [11]:
# date의 데이터 형식이 'yyyy-mm-dd'인 string이어서 lightgbm 내부에서 float으로 데이터를 변형시키지
# 못하여 데이터의 형식을 'yyyymmdd'로 변환
date_lst = []
for value in final['date'].values:
    val = re.sub(r"[-]","",value)
    date_lst.append(val)
final['date'] = date_lst

'20170912'

In [13]:
# str -> int data 변환
final['date'] = final['date'].astype(int)

numpy.int32

In [14]:
# min-max normalization
def feature_scaling(df, scaling_strategy="min-max", column=None):
    if column == None:
        column = [column_name for column_name in df.columns]
    for column_name in column:
        if scaling_strategy == "min-max":
            df[column_name] = ( df[column_name] - df[column_name].min() ) /\
                            (df[column_name].max() - df[column_name].min()) 
        elif scaling_strategy == "z-score":
            df[column_name] = ( df[column_name] - \
                               df[column_name].mean() ) /\
                            (df[column_name].std() )
    return df

final_norm = final.copy()
feature_scaling(final_norm, scaling_strategy="min-max", column=['date'])
print(final_norm.describe())

                date       avg_temp       min_temp       max_temp  \
count  104089.000000  104089.000000  104089.000000  104089.000000
mean        0.608801       0.517133       0.505334       0.539328
std         0.463865       0.211728       0.212947       0.217735
min         0.000000       0.000000       0.000000       0.000000
25%         0.022718       0.340659       0.328859       0.366013
50%         0.956209       0.547253       0.525727       0.575163
75%         0.978207       0.705495       0.695749       0.738562
max         1.000000       0.863736       0.861298       0.891068

              rain_d         wind_d          wet_d         snow_d  \
count  104089.000000  104089.000000  104089.000000  104089.000000
mean        0.031188       0.392022       0.506485       0.012198
std         0.101857       0.200433       0.212855       0.058667
min         0.000000       0.037951       0.000000       0.000000
25%         0.000000       0.224858       0.336109       0.000000
50%         0.000000       0.360531       0.503867       0.000000
75%         0.004065       0.525617       0.660321       0.000000
max         1.000000       1.000000       1.000000       0.465870

       date_2016-07-20  date_2016-07-21  ...       power_d9       power_d8  \
count         104089.0         104089.0  ...  104089.000000  104089.000000
mean               0.0              0.0  ...       0.276153       0.276120
std                0.0              0.0  ...       0.110501       0.110506
min                0.0              0.0  ...       0.002702       0.002702
25%                0.0              0.0  ...       0.199510       0.199500
50%                0.0              0.0  ...       0.268373       0.268333
75%                0.0              0.0  ...       0.341500       0.341458
max                0.0              0.0  ...       1.017054       1.017054

            power_d7       power_d6       power_d5       power_d4  \
count  104089.000000  104089.000000  104089.000000  104089.000000
mean        0.276174       0.276261       0.276292       0.276361
std         0.110544       0.110599       0.110627       0.110668
min         0.002702       0.002702       0.002702       0.002702
25%         0.199524       0.199583       0.199625       0.199667
50%         0.268375       0.268458       0.268488       0.268542
75%         0.341563       0.341708       0.341792       0.341857
max         1.017054       1.017054       1.017054       1.017054

            power_d3       power_d2       power_d1          power
count  104089.000000  104089.000000  104089.000000  104089.000000
mean        0.276379       0.276378       0.276303       0.276385
std         0.110676       0.110698       0.110715       0.110741
min         0.002702       0.002702       0.002702       0.002702
25%         0.199708       0.199708       0.199647       0.199708
50%         0.268542       0.268537       0.268458       0.268542
75%         0.341828       0.341833       0.341708       0.341833
max         1.017054       1.017054       1.017054       1.017054

[8 rows x 843 columns]

In [15]:
X = final_norm[final_ans.columns.difference(['power'])]
Y = final_norm['power']

x_train, x_valtest, y_train, y_valtest = train_test_split(X, Y, test_size = 0.2, shuffle=False, random_state=seed)
x_val, x_test, y_val, y_test = train_test_split(x_valtest, y_valtest, test_size = 0.5, shuffle=False, random_state=seed)
print(x_train.shape, y_train.shape, x_val.shape, y_val.shape, x_test.shape, y_test.shape)

(83271, 842) (83271,) (10409, 842) (10409,) (10409, 842) (10409,)

In [16]:
print(x_train.dtypes)
print(x_val.dtypes)
print(x_test.dtypes)

avg_temp           float64
date               float64
date_2016-07-20      int64
date_2016-07-21      int64
date_2016-07-22      int64
                    ...
wet_d              float64
wind_d             float64
year_2016            int64
year_2017            int64
year_2018            int64
Length: 842, dtype: object
avg_temp           float64
date               float64
date_2016-07-20      int64
date_2016-07-21      int64
date_2016-07-22      int64
                    ...
wet_d              float64
wind_d             float64
year_2016            int64
year_2017            int64
year_2018            int64
Length: 842, dtype: object
avg_temp           float64
date               float64
date_2016-07-20      int64
date_2016-07-21      int64
date_2016-07-22      int64
                    ...
wet_d              float64
wind_d             float64
year_2016            int64
year_2017            int64
year_2018            int64
Length: 842, dtype: object

# Model

In [22]:
# model structure
model = Sequential()
model.add(Dense(1024, input_dim=x_train.shape[1], activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(1, activation='sigmoid')) # linear

model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 1024)              863232
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
dense_2 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_3 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_2 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_4 (Dense)              (None, 128)               32896
_________________________________________________________________
dropout_3 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 129
=================================================================
Total params: 1,552,385
Trainable params: 1,552,385
Non-trainable params: 0
_________________________________________________________________

In [27]:
# model compile
model.compile(loss='mse', optimizer='adam', metrics=['mae', 'mse'])

# model training
class his(keras.callbacks.Callback):
    def on_epoch_end(self, epoch, logs):
        if epoch % 100 == 0: print('')

history = model.fit(x_train, y_train, validation_data=(x_val, y_val), epochs=5,
                    batch_size=128, verbose=0, callbacks=[his()])

hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [46]:
# model prediction
prediction = model.predict(x_test)
prediction = np.squeeze(prediction, axis=1)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [32]:
y_test.shape

(10409,)

In [49]:
# model prediction
prediction = model.predict(x_test)
prediction = np.squeeze(prediction, axis=1)

# smape
def smape(array_1, array_2):
    score = 100*np.mean(2*abs(array_1 - array_2)/(abs(array_1)+abs(array_2)))
    return score

DL_smape = smape(prediction, y_test)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

In [50]:
DL_smape

16.714357172756703

In [52]:
np.savetxt('data/DNN.csv', prediction, delimiter=',')
np.savetxt('data/DNNy_test.csv', y_test, delimiter=',')